/* stylelint-disable a11y/media-prefers-color-scheme */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line a11y/font-size-is-readable */
.invalid-input {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: red;
  right: 6.8%;
  bottom: 4.5px;
}

.invalid-input .error-icon {
  font-size: 16px;
  font-style: normal;
  margin-right: 2px;
}
