/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable a11y/media-prefers-color-scheme */
.data-table-container {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.data-table-container label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.data-table-length {
  float: left;
}

.data-table-filter {
  float: right;
  text-align: right;
  color: #333;
}

.data-table-filter input {
  box-sizing: border-box;
  margin-left: 0.5em;
}

.data-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid #111;
}

.data-table,
.data-table th,
.data-table td {
  box-sizing: content-box;
}

.data-table thead th {
  font-weight: bold;
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

.data-table thead th:active {
  outline: none;
}

.data-table thead .sorting,
.data-table thead .sorting-asc,
.data-table thead .sorting-desc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.data-table thead .sorting {
  background-image: url("../../assets/sort_both.png");
}

.data-table thead .sorting-asc {
  background-image: url("../../assets/sort_asc.png");
}

.data-table thead .sorting-desc {
  background-image: url("../../assets/sort_desc.png");
}

.data-table tbody tr {
  background-color: #fff;
}

.data-table tbody tr:hover,
.data-table tbody tr:focus {
  background-color: #f6f6f6;
}

.data-table tbody td {
  padding: 8px 10px;
  border-top: 1px solid #ddd;
}

.data-table tbody tr:first-child td {
  border-top: none;
}

.data-table tbody tr.odd {
  background-color: #f9f9f9;
}

.data-table tbody tr > .sorting,
.data-table tbody tr.even > .sorting {
  background-color: #fafafa;
}

.data-table tbody tr:hover > .sorting,
.data-table tbody tr:focus > .sorting {
  background-color: #eaeaea;
}

.data-table tbody tr.odd > .sorting {
  background-color: #f1f1f1;
}
