form {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

label {
  width: max-content;
  margin-top: 1rem;
  padding-right: 2rem;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  width: 202px;
  margin-top: 10px;
  cursor: pointer;
}

.state,
.department {
  width: 16.125em;
}

fieldset {
  width: auto;
  margin-top: 10px;
}
