form {
  width: 15.3152%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

label {
  width: max-content;
  margin-top: 1rem;
  padding-right: 2rem;
  cursor: pointer;
}

.department {
  width: 88.4774%;
}

input {
  box-sizing: border-box;
  width: 69.277%;
  margin-top: 10px;
  cursor: pointer;
}

.state {
  width: 99.3837%;
}

fieldset {
  margin-top: 10px;
}

fieldset input {
  width: 77.818%;
}
