form {
  width: 15.3151%;
  margin-bottom: 16px;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

input {
  box-sizing: border-box;
  width: 69.277%;
  margin-top: 10px;
}

.address {
  margin-top: 10px;
}

.address input {
  width: 77.82%;
}
